Microsoft.Flow/flows/30951e6d-5932-4a2a-b468-473bebcfdb99/definition.json
{"name":"757716b7-9ef7-7008-773b-4d76d20b9a06","id":"/providers/Microsoft.Flow/flows/757716b7-9ef7-7008-773b-4d76d20b9a06","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"INS Closure (Approval)","definition":{"metadata":{"workflowEntityId":"da76cae9-d265-f011-bec3-6045bd568e3a","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b1222a94-38b9-49ef-b776-053da860af7d","type":"User","tenantId":"d56c1b0d-cb31-4a85-93e0-11f8d2a215e0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-21T00:40:35.809368Z","connectionKeySavedTimeKey":"2025-08-21T00:40:35.809368Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f45b5f58-189b-4d16-886e-362f8822b7c8"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"description":"Please enter your input","title":"claim_ref","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_2":{"description":"Please enter your input","title":"incident_desc","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_3":{"description":"Please enter your input","title":"incident_date","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_4":{"description":"Please enter your input","title":"claim_date","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_5":{"description":"Please enter your input","title":"claim_amount","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_6":{"description":"Please enter your input","title":"settlement_amount","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_7":{"description":"Please enter your input","title":"rejected_amount","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_8":{"description":"Please enter your input","title":"basis_of_settlement","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_1":{"description":"Please enter your input","title":"requestor_email","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_10":{"description":"Please enter your input","title":"claim_id","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_11":{"description":"Please enter your input","title":"recovery_id","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["text","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_1","text_10","text_11"]}}}},"actions":{"Start_and_wait_for_an_approval":{"runAfter":{"Update_Recovery_Status":["Succeeded"]},"metadata":{"operationMetadataId":"18cba481-db38-4798-b476-889309bfe874"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"INS Closure L1 (AO) For Claim Ref: @{triggerBody()?['text']}","WebhookApprovalCreationInput/assignedTo":"@variables('varApprover1')","WebhookApprovalCreationInput/details":"Incident Desc:\n@{triggerBody()?['text_2']}\n\nIncident Date: @{formatDateTime(triggerBody()?['text_3'], 'dd-MMM-yy')}\n\nClaim Date: @{formatDateTime(triggerBody()?['text_4'], 'dd-MMM-yy')}\n\nClaim Amt (S$): @{formatNumber(float(triggerBody()?['text_5']), 'N2')}\n\nSettlement Amt (S$): @{formatNumber(float(triggerBody()?['text_6']), 'N2')}\n\nRejected Amt (S$): @{formatNumber(float(triggerBody()?['text_7']), 'N2')}\n\nBasis of Settlement:\n@{triggerBody()?['text_8']}\n\nComment History:\n@{outputs('Update_Recovery_Status')?['body/COMMENTHISTORY']}\n","WebhookApprovalCreationInput/requestor":"@triggerBody()?['text_1']","WebhookApprovalCreationInput/enableNotifications":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"varApprover1":{"runAfter":{"recovery_id":["Succeeded"]},"metadata":{"operationMetadataId":"f1b355c1-8439-4976-9cb4-3209ea1d4374"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprover1","type":"string","value":"9jaden_phoa@singaporeair.com.sg"}]}},"varApprover2":{"runAfter":{"varApprover1":["Succeeded"]},"metadata":{"operationMetadataId":"0b0e49d8-3f94-4f1f-aa5b-2f42b0eead7d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprover2","type":"string","value":"yongchien_tan@singaporeair.com.sg"}]}},"Approval_Condition":{"actions":{"For_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_L1_Status":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"0edbda98-1d4c-4863-b1f9-f0909b010974"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/L1_x0028_AO_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","item/COMMENTHISTORY":"@{variables('varL1Com')}\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"type":"SetVariable","inputs":{"name":"varL1Com","value":"-@{outputs('Update_Recovery_Status')?['body/COMMENTHISTORY']} \n-@{items('For_each')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}, @{items('For_each')?['comments']}\n"}}},"metadata":{"operationMetadataId":"b28cdc7a-5b1d-4e1d-a8f0-dc11b1a2e600"},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"For_each_1":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_L1_Status_1":{"runAfter":{"Set_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"40283100-7c7b-476a-b9f3-5855410aecab"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Rejected","item/L1_x0028_AO_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","item/LATESTREJECTIONSCOMMENT":"-@{items('For_each_1')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}, @{items('For_each_1')?['comments']}","item/COMMENTHISTORY":"@variables('varL1Com')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_Claim_Status_1":{"runAfter":{"Update_L1_Status_1":["Succeeded"]},"metadata":{"operationMetadataId":"becc5dd7-1ec7-443a-b855-8c3e18fc67dd"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_4":{"type":"SetVariable","inputs":{"name":"varL1Com","value":"-@{outputs('Update_Recovery_Status')?['body/COMMENTHISTORY']}\n-@{items('For_each_1')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}, @{items('For_each_1')?['comments']}"}}},"metadata":{"operationMetadataId":"f82026fb-cfe2-4078-aae1-960cc0696949"},"type":"Foreach"},"Terminate":{"runAfter":{"For_each_1":["Succeeded"]},"metadata":{"operationMetadataId":"bdeb6f99-e88b-4b9a-b1e6-a059071db6e0"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]}]},"metadata":{"operationMetadataId":"4e67615e-20f3-4617-9879-97b20c8febcc"},"type":"If"},"Start_and_wait_for_an_approval_1":{"runAfter":{"Approval_Condition":["Succeeded"]},"metadata":{"operationMetadataId":"97e692f0-e51d-4b92-a09f-80d8b6428309"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"INS Closure L2 (MGR) For Claim Ref: @{triggerBody()?['text']}","WebhookApprovalCreationInput/assignedTo":"@variables('varApprover1')","WebhookApprovalCreationInput/details":"Incident Desc:\n@{triggerBody()?['text_2']}\n\nIncident Date: @{formatDateTime(triggerBody()?['text_3'], 'dd-MMM-yy')}\n\nClaim Date: @{formatDateTime(triggerBody()?['text_4'], 'dd-MMM-yy')}\n\nClaim Amt (S$): @{formatNumber(float(triggerBody()?['text_5']), 'N2')}\n\nSettlement Amt (S$): @{formatNumber(float(triggerBody()?['text_6']), 'N2')}\n\nRejected Amt (S$): @{formatNumber(float(triggerBody()?['text_7']), 'N2')}\n\nBasis of Settlement:\n@{triggerBody()?['text_8']}\n\nComment History:\n@{variables('varL1Com')}","WebhookApprovalCreationInput/requestor":"@triggerBody()?['text_1']","WebhookApprovalCreationInput/enableNotifications":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Approval_Condition_1":{"actions":{"For_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval_1')?['body/responses']","actions":{"Update_L2_Status":{"runAfter":{"Set_variable_1":["Succeeded"]},"metadata":{"operationMetadataId":"0b9a80b4-bf52-4bcc-8b18-66ec11f6cb5b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/L2_x0028_MGR_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval_1')?['body/outcome']","item/COMMENTHISTORY":"@variables('varL2Com')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_1":{"type":"SetVariable","inputs":{"name":"varL2Com","value":"@{variables('varL1Com')}\n-@{items('For_each_2')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_1')?['body/outcome']}, @{items('For_each_2')?['comments']}\n"}}},"metadata":{"operationMetadataId":"5175e3f7-c52b-4d4c-aeb3-94191e07f0ff"},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval_1":["Succeeded"]},"else":{"actions":{"For_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval_1')?['body/responses']","actions":{"Update_L2_Status_1":{"runAfter":{"Set_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"7d81d890-182d-4ec3-a8de-d06d5fa1cc02"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Rejected","item/L2_x0028_MGR_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval_1')?['body/outcome']","item/LATESTREJECTIONSCOMMENT":"-@{items('For_each_3')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_1')?['body/outcome']}, @{items('For_each_3')?['comments']}","item/COMMENTHISTORY":"@{variables('varL2Com')}\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_Claim_Status_2":{"runAfter":{"Update_L2_Status_1":["Succeeded"]},"metadata":{"operationMetadataId":"a9f5cc52-4e99-4a22-8e07-c361bebc2571"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_5":{"type":"SetVariable","inputs":{"name":"varL2Com","value":"@{variables('varL1Com')}\n-@{items('For_each_3')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_1')?['body/outcome']}, @{items('For_each_3')?['comments']}"}}},"metadata":{"operationMetadataId":"5333d752-abf0-439c-8376-aac5352dec9d"},"type":"Foreach"},"Terminate_1":{"runAfter":{"For_each_3":["Succeeded"]},"metadata":{"operationMetadataId":"76d22d05-1ff1-4ae2-8fcd-9747fe084b27"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval_1')?['body/outcome']","Approve"]}]},"metadata":{"operationMetadataId":"99026dab-6c52-4776-a11c-3852331fccc3"},"type":"If"},"claim_id":{"runAfter":{},"metadata":{"operationMetadataId":"e49b6cee-5cc4-4ba7-9436-ffa9d3d3e259"},"type":"Compose","inputs":"@triggerBody()?['text_10']"},"recovery_id":{"runAfter":{"claim_id":["Succeeded"]},"metadata":{"operationMetadataId":"e4ce7e08-1776-4376-a9f3-4b526a7359be"},"type":"Compose","inputs":"@triggerBody()?['text_11']"},"Update_Claim_Status":{"runAfter":{"varL4Com":["Succeeded"]},"metadata":{"operationMetadataId":"1e4fd7d6-2407-4508-8b71-e709006970ea"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Pending Approval"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"varApprover3":{"runAfter":{"varApprover2":["Succeeded"]},"metadata":{"operationMetadataId":"1a572a60-ad18-4335-88c4-2267cb31576f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprover3","type":"string","value":"9jaden_phoa@singaporeair.com.sg"}]}},"varApprover4":{"runAfter":{"varApprover3":["Succeeded"]},"metadata":{"operationMetadataId":"a3f746b5-1ee4-4d70-b3ca-31c9f02b9ea6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprover4","type":"string","value":"yongchien_tan@singaporeair.com.sg"}]}},"Amount_Condition":{"actions":{"Start_and_wait_for_an_approval_2":{"metadata":{"operationMetadataId":"442f0a0a-d8c8-4f89-aa77-556a282b4d45"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"INS Closure L3 (DVPE) For Claim Ref: @{triggerBody()?['text']}","WebhookApprovalCreationInput/assignedTo":"@variables('varApprover1')","WebhookApprovalCreationInput/details":"Incident Desc:\n@{triggerBody()?['text_2']}\n\nIncident Date: @{formatDateTime(triggerBody()?['text_3'], 'dd-MMM-yy')}\n\nClaim Date: @{formatDateTime(triggerBody()?['text_4'], 'dd-MMM-yy')}\n\nClaim Amt (S$): @{formatNumber(float(triggerBody()?['text_5']), 'N2')}\n\nSettlement Amt (S$): @{formatNumber(float(triggerBody()?['text_6']), 'N2')}\n\nRejected Amt (S$): @{formatNumber(float(triggerBody()?['text_7']), 'N2')}\n\nBasis of Settlement:\n@{triggerBody()?['text_8']}\n\nComment History:\n@{variables('varL2Com')}\n","WebhookApprovalCreationInput/requestor":"@triggerBody()?['text_1']","WebhookApprovalCreationInput/enableNotifications":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Approval_Condition_2":{"actions":{"For_each_4":{"foreach":"@outputs('Start_and_wait_for_an_approval_2')?['body/responses']","actions":{"Update_L3_Status":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"4d1d6256-b1eb-4614-8c11-a53c673cb891"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/L3_x0028_DVPE_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval_2')?['body/outcome']","item/COMMENTHISTORY":"@variables('varL3Com')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_2":{"type":"SetVariable","inputs":{"name":"varL3Com","value":"@{variables('varL2Com')}\n-@{items('For_each_4')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_2')?['body/outcome']}, @{items('For_each_4')?['comments']}\n"}}},"metadata":{"operationMetadataId":"21572a38-204d-44db-8f15-3f11fba18659"},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval_2":["Succeeded"]},"else":{"actions":{"For_each_5":{"foreach":"@outputs('Start_and_wait_for_an_approval_2')?['body/responses']","actions":{"Update_Claim_Status_3":{"runAfter":{"Update_L3_Status_1":["Succeeded"]},"metadata":{"operationMetadataId":"2da3712d-c526-438d-9959-3844933c2ee8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_L3_Status_1":{"runAfter":{"Set_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"40842c0d-5f55-4596-b218-d127065f4a0f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Rejected","item/L3_x0028_DVPE_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval_2')?['body/outcome']","item/LATESTREJECTIONSCOMMENT":"-@{items('For_each_5')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_2')?['body/outcome']}, @{items('For_each_5')?['comments']}","item/COMMENTHISTORY":"@variables('varL3Com')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_6":{"type":"SetVariable","inputs":{"name":"varL3Com","value":"@{variables('varL2Com')}\n-@{items('For_each_5')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_2')?['body/outcome']}, @{items('For_each_5')?['comments']}"}}},"metadata":{"operationMetadataId":"37771852-b73d-4bc6-8385-ecdc387c19ef"},"type":"Foreach"},"Terminate_3":{"runAfter":{"For_each_5":["Succeeded"]},"metadata":{"operationMetadataId":"099d0b65-bdd9-41d3-a6c8-f59524335b98"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval_2')?['body/outcome']","Approve"]}]},"metadata":{"operationMetadataId":"bd17508f-005e-4d89-bc66-a32a8f528b2b"},"type":"If"}},"runAfter":{"Approval_Condition_1":["Succeeded"]},"else":{"actions":{"Terminate_2":{"runAfter":{"Update_Claim_Status_5":["Succeeded"]},"metadata":{"operationMetadataId":"41d9eb3e-1ac7-4a4e-a27b-ad26863902bc"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Update_Claim_Status_5":{"runAfter":{"Update_Recovery_Status_1":["Succeeded"]},"metadata":{"operationMetadataId":"1e4fd7d6-2407-4508-8b71-e709006970ea"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_Recovery_Status_1":{"metadata":{"operationMetadataId":"5a97c823-9f1f-4097-bdec-2ed8c5f4ba4e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greater":["@float(triggerBody()?['text_5'])",100000]}]},"metadata":{"operationMetadataId":"75d7c487-6faf-4b79-9c82-8285141f1447"},"type":"If"},"Update_Recovery_Status":{"runAfter":{"Update_Claim_Status":["Succeeded"]},"metadata":{"operationMetadataId":"5a97c823-9f1f-4097-bdec-2ed8c5f4ba4e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Pending Approval","item/REQUESTOREMAIL":"@triggerBody()?['text_1']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Amount_Condition_1":{"actions":{"Start_and_wait_for_an_approval_3":{"metadata":{"operationMetadataId":"11c324d1-d98f-44d8-81a2-9fb61f576b76"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"INS Closure L4 (SVPE) For Claim Ref: @{triggerBody()?['text']}","WebhookApprovalCreationInput/assignedTo":"@variables('varApprover1')","WebhookApprovalCreationInput/details":"Incident Desc:\n@{triggerBody()?['text_2']}\n\nIncident Date: @{formatDateTime(triggerBody()?['text_3'], 'dd-MMM-yy')}\n\nClaim Date: @{formatDateTime(triggerBody()?['text_4'], 'dd-MMM-yy')}\n\nClaim Amt (S$): @{formatNumber(float(triggerBody()?['text_5']), 'N2')}\n\nSettlement Amt (S$): @{formatNumber(float(triggerBody()?['text_6']), 'N2')}\n\nRejected Amt (S$): @{formatNumber(float(triggerBody()?['text_7']), 'N2')}\n\nBasis of Settlement:\n@{triggerBody()?['text_8']}\n\nComment History:\n@{variables('varL3Com')}\n","WebhookApprovalCreationInput/requestor":"@triggerBody()?['text_1']","WebhookApprovalCreationInput/enableNotifications":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Approval_Condition_3":{"actions":{"For_each_6":{"foreach":"@outputs('Start_and_wait_for_an_approval_3')?['body/responses']","actions":{"Update_L4_Status":{"runAfter":{"Set_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"b72ed821-12bc-4772-9a1c-d59f43d9e673"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/L4_x0028_SVP_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval_3')?['body/outcome']","item/COMMENTHISTORY":"@variables('varL4Com')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"type":"SetVariable","inputs":{"name":"varL4Com","value":"@{variables('varL3Com')}\n-@{items('For_each_6')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_3')?['body/outcome']}, @{items('For_each_6')?['comments']}\n"}}},"metadata":{"operationMetadataId":"983bcf22-aff2-4593-afe5-366f0d80aaf2"},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval_3":["Succeeded"]},"else":{"actions":{"For_each_7":{"foreach":"@outputs('Start_and_wait_for_an_approval_3')?['body/responses']","actions":{"Update_L4_Status_1":{"runAfter":{"Set_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"0aa70d55-1724-47fb-960d-f084fd7dd39f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Rejected","item/L4_x0028_SVP_x0029_STATUS":"@outputs('Start_and_wait_for_an_approval_3')?['body/outcome']","item/LATESTREJECTIONSCOMMENT":"-@{items('For_each_7')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_3')?['body/outcome']}, @{items('For_each_7')?['comments']}","item/COMMENTHISTORY":"@variables('varL4Com')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_Claim_Status_4":{"runAfter":{"Update_L4_Status_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_7":{"type":"SetVariable","inputs":{"name":"varL4Com","value":"@{variables('varL3Com')}\n-@{items('For_each_7')?['responder/displayName']}: @{outputs('Start_and_wait_for_an_approval_3')?['body/outcome']}, @{items('For_each_7')?['comments']}"}}},"metadata":{"operationMetadataId":"18c40831-7df7-4935-be56-8069778d92d8"},"type":"Foreach"},"Terminate_5":{"runAfter":{"For_each_7":["Succeeded"]},"metadata":{"operationMetadataId":"e2065448-329f-484b-ae98-00a05e01f5f3"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"equals":["@triggerBody()?['text_5']","Approve"]}]},"metadata":{"operationMetadataId":"20e0c7ce-9ec8-4570-bad1-8e3ae62cc7ff"},"type":"If"},"Update_Recovery_Status_3":{"runAfter":{"Approval_Condition_3":["Succeeded"]},"metadata":{"operationMetadataId":"5a97c823-9f1f-4097-bdec-2ed8c5f4ba4e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_Claim_Status_7":{"runAfter":{"Update_Recovery_Status_3":["Succeeded"]},"metadata":{"operationMetadataId":"1e4fd7d6-2407-4508-8b71-e709006970ea"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Amount_Condition":["Succeeded"]},"else":{"actions":{"Terminate_4":{"runAfter":{"Update_Claim_Status_6":["Succeeded"]},"metadata":{"operationMetadataId":"3237478a-18de-4fa4-8143-9634fbe6cf5d"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Update_Claim_Status_6":{"runAfter":{"Update_Recovery_Status_2":["Succeeded"]},"metadata":{"operationMetadataId":"1e4fd7d6-2407-4508-8b71-e709006970ea"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"a35fc6c2-aaea-4c3b-b96e-12ef530e5d32","id":"@outputs('claim_id')","item/CLAIMSTATUS":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_Recovery_Status_2":{"metadata":{"operationMetadataId":"5a97c823-9f1f-4097-bdec-2ed8c5f4ba4e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://sia.sharepoint.com/sites/INSClosureApp/","table":"3ea0525f-5946-487f-9977-b1240a5d8836","id":"@outputs('recovery_id')","item/OVERALLSTATUS":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greater":["@float(triggerBody()?['text_5'])",15000000]}]},"metadata":{"operationMetadataId":"2155d00c-a682-4d88-b63d-ad1babd19a1f"},"type":"If"},"varL1Com":{"runAfter":{"varPrevCom":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varL1Com","type":"string"}]}},"varL2Com":{"runAfter":{"varL1Com":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varL2Com","type":"string"}]}},"varL3Com":{"runAfter":{"varL2Com":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varL3Com","type":"string"}]}},"varL4Com":{"runAfter":{"varL3Com":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varL4Com","type":"string"}]}},"varPrevCom":{"runAfter":{"varApprover4":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPrevCom","type":"string"}]}}},"outputs":{}},"connectionReferences":{"shared_approvals":{"connectionName":"shared-approvals-cb06bca5-c52a-42d4-9402-2c93b64bb21c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"5066a569b437494ab85c933247ac399f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}